# Packaging + Distribution
wheel

# Base Dependencies
# Environment Configuration
dynaconf

# gRPC libraries
grpcio
grpcio-tools
grpcio-reflection

# MQTT libraries
paho-mqtt


# Testing
ipython
ipdb
pytest
pytest-cov

# Linting + Formatting
ruff